<div class="users-table">
    <div class="search-div">
        <input type="search" placeholder="Search users..." (input)="search($event)">
    </div>
    <div class="table-">
      <div class="infos">
        <h3>ID</h3>
        <h3>Name</h3>
        <h3>Username</h3>
        <h3>Email</h3>
        <h3>Phone</h3>
        <h3>Company</h3>
        <h3>Actions</h3>
      </div>
      <div *ngFor="let user of filteredUsers" class="users-info">
        <div>
          <h5> {{user.id}} </h5>
        </div>
        <div>
          <h5> {{ user.name }} </h5>
        </div>
        <div>
          <h5> {{ user.username }} </h5>
        </div>
        <div>
          <h5> {{ user.email }} </h5>
        </div>
        <div>
          <h5> {{ user.phone }}</h5>
        </div>
        <div>
          <h5> {{ user.company.name }} </h5>
        </div>
        <div class="pt-btn"> 
          <button id="post" [routerLink]="['/post', user.id]">Posts</button>
          <button id="todo" [routerLink]="['/todo', user.id]">Todos</button>
        </div>
      </div>
    </div>  
</div>
 
<div  class="user-info">
  <div *ngFor="let user of filteredUsers" class="infos2">
    <div>
      <h5>ID: {{user.id}} </h5>
    </div>
    <div>
      <h5>Name: {{ user.name }} </h5>
    </div>
    <div>
      <h5>Users: {{ user.username }} </h5>
    </div>
    <div>
      <h5>Phone: {{ user.email }} </h5>
    </div>
    <div>
      <h5>Company: {{ user.phone }}</h5>
    </div>
    <div>
      <h5>Actions: {{ user.company.name }} </h5>
    </div>
    <div class="pt-btn"> 
      <button id="post" [routerLink]="['/post', user.id]">Posts</button>
      <button id="todo" [routerLink]="['/todo', user.id]">Todos</button>
    </div>
  </div>
</div>