<div class="post-div">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postArr">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
              <button (click)="viewDetails(post.id)">Details</button>
            </td>
          </tr>
        </tbody>
    </table>    
</div>
<div *ngIf="selectedPost" class="details-of-posts">
  <button (click)="closeDetails()" id="cv-btn">X</button>
  <div class="dt-ps">
    <h3> <strong>ID:</strong> {{selectedPost.id}} </h3>
    <h3> <strong>Title:</strong> {{selectedPost.title}} </h3>
    <h3> <strong>Description:</strong> {{selectedPost.body}} </h3>
  </div>
</div>
