<div class="post-div">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postArr">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
              <button (click)="viewDetails(post.id)">Details</button>
            </td>
          </tr>
        </tbody>
    </table>    
</div>
<div *ngIf="selectedPost" class="details-of-posts">
  <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{selectedPost.id}} </td>
        <td> {{selectedPost.title}} </td>
        <td> {{selectedPost.body}} </td>
    </tr>
    <button (click)="closeDetails()" id="cv-btn">X</button>
    </tbody>
  </table>
</div>
