/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;   
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  main {
    width: 100%;
  }
}
