.todo-list{
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin: 20px 0px 0px 20px;
    button{
        padding: 8px 16px;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            background-color: black;
            color: white;
            transition: 0.3s;
        }
    }   
    table {
        width: 52%;
        border-collapse: collapse;
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }

    }
}
